{% if messages %}
    <script>
        {% for message in messages %}
            Toastify({
                text: "{{ message }}",
                className: "{{ message.tags }}",
                duration: 5000,
                close: false,
                gravity: "bottom", // `top` or `bottom`
                position: "right", // `left`, `center` or `right`
                stopOnFocus: true, // Prevents dismissing of toast on hover
                style: {
                },
                onClick: function(){} // Callback after click
            }).showToast();
        {% endfor %}
    </script>
{% endif %}